.blocks,
[class*="blocks-"] {
  padding: 0;
  margin: 0;
  margin-right: -15px;
  margin-left: -15px;
  list-style: none;
}

.blocks:before,
[class*="blocks-"]:before,
.blocks:after,
[class*="blocks-"]:after {
  display: table;
  content: " ";
}

.blocks:after,
[class*="blocks-"]:after {
  clear: both;
}

.blocks > .block-item,
[class*="blocks-"] > .block-item {
  position: relative;
  float: left;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 22px;
}

.blocks.no-space,
[class*="blocks-"].no-space {
  margin: 0;
}

.blocks.no-space > .block-item,
[class*="blocks-"].no-space > .block-item {
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 0;
}

.blocks-2 > .block-item:nth-child(2n+3),
.blocks-3 > .block-item:nth-child(3n+4),
.blocks-4 > .block-item:nth-child(4n+5),
.blocks-5 > .block-item:nth-child(5n+6),
.blocks-6 > .block-item:nth-child(6n+7),
.block-first {
  clear: both;
}

.blocks-100 > .block-item {
  width: 100%;
}

.blocks-2 > .block-item {
  width: 50%;
}

.blocks-3 > .block-item {
  width: 33.33333333%;
}

.blocks-4 > .block-item {
  width: 25%;
}

.blocks-5 > .block-item {
  width: 20%;
}

.blocks-6 > .block-item {
  width: 16.66666667%;
}

@media (max-width: 479px) {
  .blocks-xs-100 > .block-item {
    width: 100%;
  }

  .blocks-xs-2 > .block-item {
    width: 50%;
  }

  .blocks-xs-3 > .block-item {
    width: 33.33333333%;
  }

  .blocks-xs-4 > .block-item {
    width: 25%;
  }

  .blocks-xs-5 > .block-item {
    width: 20%;
  }

  .blocks-xs-6 > .block-item {
    width: 16.66666667%;
  }
}

@media (min-width: 480px) {
  .blocks-sm-100 > .block-item {
    width: 100%;
  }

  .blocks-sm-2 > .block-item {
    width: 50%;
  }

  .blocks-sm-3 > .block-item {
    width: 33.33333333%;
  }

  .blocks-sm-4 > .block-item {
    width: 25%;
  }

  .blocks-sm-5 > .block-item {
    width: 20%;
  }

  .blocks-sm-6 > .block-item {
    width: 16.66666667%;
  }
}

@media (min-width: 768px) {
  .blocks-md-100 > .block-item {
    width: 100%;
  }

  .blocks-md-2 > .block-item {
    width: 50%;
  }

  .blocks-md-3 > .block-item {
    width: 33.33333333%;
  }

  .blocks-md-4 > .block-item {
    width: 25%;
  }

  .blocks-md-5 > .block-item {
    width: 20%;
  }

  .blocks-md-6 > .block-item {
    width: 16.66666667%;
  }
}

@media (min-width: 992px) {
  .blocks-lg-100 > .block-item {
    width: 100%;
  }

  .blocks-lg-2 > .block-item {
    width: 50%;
  }

  .blocks-lg-3 > .block-item {
    width: 33.33333333%;
  }

  .blocks-lg-4 > .block-item {
    width: 25%;
  }

  .blocks-lg-5 > .block-item {
    width: 20%;
  }

  .blocks-lg-6 > .block-item {
    width: 16.66666667%;
  }
}

@media (min-width: 1200px) {
  .blocks-xlg-100 > .block-item {
    width: 100%;
  }

  .blocks-xlg-2 > .block-item {
    width: 50%;
  }

  .blocks-xlg-3 > .block-item {
    width: 33.33333333%;
  }

  .blocks-xlg-4 > .block-item {
    width: 25%;
  }

  .blocks-xlg-5 > .block-item {
    width: 20%;
  }

  .blocks-xlg-6 > .block-item {
    width: 16.66666667%;
  }
}

@media (max-width: 479px) {
  .blocks-xs-2 > *:nth-child(2n+3),
  .blocks-xs-3 > *:nth-child(3n+4),
  .blocks-xs-4 > *:nth-child(4n+5),
  .blocks-xs-5 > *:nth-child(5n+6),
  .blocks-xs-6 > *:nth-child(6n+7) {
    clear: both;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .blocks-sm-2 > *:nth-child(2n+3),
  .blocks-sm-3 > *:nth-child(3n+4),
  .blocks-sm-4 > *:nth-child(4n+5),
  .blocks-sm-5 > *:nth-child(5n+6),
  .blocks-sm-6 > *:nth-child(6n+7) {
    clear: both;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .blocks-md-2 > *:nth-child(2n+3),
  .blocks-md-3 > *:nth-child(3n+4),
  .blocks-md-4 > *:nth-child(4n+5),
  .blocks-md-5 > *:nth-child(5n+6),
  .blocks-md-6 > *:nth-child(6n+7) {
    clear: both;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .blocks-lg-2 > *:nth-child(2n+3),
  .blocks-lg-3 > *:nth-child(3n+4),
  .blocks-lg-4 > *:nth-child(4n+5),
  .blocks-lg-5 > *:nth-child(5n+6),
  .blocks-lg-6 > *:nth-child(6n+7) {
    clear: both;
  }
}

@media (min-width: 1200px) {
  .blocks-xlg-2 > *:nth-child(2n+3),
  .blocks-xlg-3 > *:nth-child(3n+4),
  .blocks-xlg-4 > *:nth-child(4n+5),
  .blocks-xlg-5 > *:nth-child(5n+6),
  .blocks-xlg-6 > *:nth-child(6n+7) {
    clear: both;
  }
}


/**
 * Topbar
 */
.top-menu {
  background: #003e6f;
}

.top-menu ul {
  margin: 0;
  padding: 0;
}

.top-menu .menu-item, .top-menu a {
  color: rgba(255,255,255,0.7);
  line-height: 55px;
  font-size: 11px;
}
@media (max-width: 959px) {
.top-menu .navbar-topmenu {
   display:none;
}
.top-menu .navbar-nav-last {
   display: block;
}
.top-menu .menu-smart {
   text-align: right;
}
.top-menu .menu-item {
   display: inline-block !important;
}
.top-menu .menu-item .fa-angle-right {
   display:none;
}
.top-menu .menu-item.menu-item-language a {
   padding-right:9px !important;
}
}
/**
 * link and file with icon
 */
.uncode-link, .uncode-file {
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid rgb(234, 234, 234);
  margin-top: 0px !important;
  clear: both;
}

.uncode-link a, .uncode-file a {
  display: block;
  position: relative;
}

.uncode-link-icon, .uncode-file-icon {
  position: absolute;
  vertical-align: middle;
  right: 0;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}
/**
 * sub nav
 */
.uncode-subnav-title {
  margin-bottom: 0.5em;
}

.uncode-subnav .uncode-subnav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/**
 * tmb content left
 */
.tmb-content-split .t-inside {
  clear: both;
}

.tmb-content-split .t-entry-text {
  float: left;
  width: 60%;
}

.tmb-content-split .t-entry-visual {
  float: right;
  width: 40%;
}

@media (max-width: 640px) {
  .tmb-content-split .t-entry-text {
    float: none;
    width: 100% !important;
  }

  .tmb-content-split .t-entry-visual {
    float: none;
    width: 100% !important;
  }
}
/**
 * Blog
 */
.uncode-blog-heading {
  border-bottom: 3px solid #eaeaea;
  margin-bottom: 30px;
}

.uncode-blog-title {
  line-height: 45px;
  position: relative;
  float: left;
  margin: 0;
}

.uncode-blog-title:after {
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 100%;
  left: 0;
  content: '';
  background: #444;
}

.uncode-blog-more {
  line-height: 45px;
  text-transform: uppercase;
  float: right;
}

.uncode-blog-list.layout-list {
}

.uncode-blog-list.layout-list .tmb-content-split .t-entry-text {
  float: right;
  width: 50%;
}

.uncode-blog-list.layout-list .tmb-content-split .t-entry-visual {
  float: left;
  width: 50%;
}

.uncode-blog-list.layout-two {
  margin-left: -30px;
}

.uncode-blog-list .tmb {
  vertical-align: text-top;
  margin-bottom: 30px;
}

.uncode-blog-list.layout-two .tmb {
  width: 50%;
  display: inline-block;
  padding-left: 30px;
}


/**
 * contact
 */
.main-container .row-container .row-parent .single-internal-gutter .uncont > .uncode-contact {
  margin-top: 24px;
}

.uncode-contact ul.uncode-contact-content {
  margin: 0;
  list-style: none;
  padding: 0;
}

.uncode-contact li {
  line-height: 2em;
}

.uncode-contact-content {
  float: left;
}

.uncode-contact-qrcode {
  float: right;
  width: 150px;
}

.uncode-contact-qrcode img {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.3);
}

@media (max-width: 959px) {
  .uncode-contact-content {
    float: none;
  }

  .uncode-contact-qrcode {
    float: none;
    margin: 0 auto 20px;
  }
}
/**
 * person
 */
.uncode-person h4 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.uncode-person ul.uncode-person-content {
  margin: 0;
  list-style: none;
  padding: 0;
}

.uncode-person li {
  line-height: 2em;
}

.uncode-person-avatar img {
  border-radius: 100%;
}
/**
 * location
 */
.uncode-location ul.uncode-location-ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.uncode-location-detail {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.uncode-location li {
  line-height: 2em;
}
/**
 * breadcrumb
 */
.main-container .row-container.row-breadcrumb .row-parent {
  padding: 22px 36px;
}
/**
 * language menu
 */
li.menu-item.menu-item-language {
  text-align: right;
}

li.menu-item.menu-item-language a {
  padding-right: 0 !important;
} 

/**
 * post list
 */
.posts_list {
  margin: 0;
  list-style: none;
}

.posts_list p {
  margin: 0;
}

.posts_list li, #sidebar .posts_list li, #footer .posts_list li {
  padding: 5px 0;
}

.posts_list li a, #sidebar .posts_list li a, #footer .posts_list li a {
  padding: 0;
  line-height: 20px;
  background: none;
}

.posts_list .thumbnail {
  display: inline-block;
  float: left;
  margin: 4px 8px 8px 0;
  line-height: 100%;
  border: 1px solid #eee;
}

.posts_list_big .thumbnail {
  display: block;
  float: none;
  border: none;
  margin: 0;
}

.posts_list .thumbnail img {
  display: block;
  max-width: none;
  border: 1px solid #fff;
}

.posts_list_big .thumbnail img {
  border: none;
  width: 100%;
}

.posts_list time {
  display: block;
}

.posts_list li:before,
.posts_list li:after {
  display: table;
  content: " ";
}

.posts_list li:after {
  clear: both;
}

.posts_list .post_extra_info {
  position: relative;
  overflow: hidden;
}

.posts_list .post_extra_info:before,
.posts_list .post_extra_info:after {
  display: table;
  content: " ";
}

.posts_list .post_extra_info:after {
  clear: both;
}

/* video list styles
   ========================================================================== */
.video-list {
  text-align: left;
}

.video-list-item {
  margin-bottom: 36px;
}

.video-list-item-inner {
  border: 1px solid #eaeaea;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
  background: #fff;
}

.video-list-item-image-holder {
  position: relative;
}

.video-list-item-image-holder a {
  display: block;
}

.video-list-item-image-holder img {
  vertical-align: middle;
}

.video-list-item-title-holder {
  position: relative;
}

.video-list-item-title-holder .video-list-item-title {
  margin-top: 0;
  margin-bottom: 0;
}

.video-list-item-info {
  margin-top: 8px;
  color: #ababab;
  font-size: 14px;
}


/** iGrowl */

/*! iGrowl v3.0.1 | Copyright (c) 2014 Catalin Covic | https://github.com/catc */
.igrowl {
  position: fixed;
  z-index: 9999;
  border-radius: 3px;
  border: 1px solid;
  padding: 8px 30px 8px 10px;
  -webkit-transition: bottom 0.2s ease, top 0.2s ease;
  -moz-transition: bottom 0.2s ease, top 0.2s ease;
  transition: bottom 0.2s ease, top 0.2s ease;
}

@media only screen and (max-width: 480px) {
  .igrowl {
    width: 90%;
  }

  .igrowl[alert-placement^="left"], .igrowl[alert-placement^="center"] {
    margin-left: -45% !important;
    left: 50% !important;
  }

  .igrowl[alert-placement^="right"] {
    right: 50% !important;
    margin-right: -45%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1023px) {
  .igrowl {
    width: 300px;
  }
}

@media only screen and (min-width: 1024px) {
  .igrowl {
    width: 320px;
  }
}

@media only screen and (min-width: 1600px) {
  .igrowl {
    width: 360px;
  }
}

.igrowl-link {
  padding: 0;
}

.igrowl-link a {
  padding: 8px 30px 8px 15px;
  display: block;
}

.igrowl-center {
  left: 50%;
}

@media only screen and (min-width: 481px) and (max-width: 1023px) {
  .igrowl-center {
    margin-left: -150px;
  }
}

@media only screen and (min-width: 1024px) {
  .igrowl-center {
    margin-left: -210px;
  }
}

@media only screen and (min-width: 1600px) {
  .igrowl-center {
    margin-left: -240px;
  }
}

@media only screen and (max-width: 480px) {
  .igrowl-center.igrowl-small {
    margin-left: -30% !important;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1023px) {
  .igrowl-center.igrowl-small {
    margin-left: -110px;
  }
}

@media only screen and (min-width: 1024px) {
  .igrowl-center.igrowl-small {
    margin-left: -130px;
  }
}

@media only screen and (min-width: 1600px) {
  .igrowl-center.igrowl-small {
    margin-left: -160px;
  }
}

@media only screen and (max-width: 480px) {
  .igrowl-small {
    width: 60%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1023px) {
  .igrowl-small {
    width: 220px;
  }
}

@media only screen and (min-width: 1024px) {
  .igrowl-small {
    width: 260px;
  }
}

@media only screen and (min-width: 1600px) {
  .igrowl-small {
    width: 320px;
  }
}

.igrowl-icon, .igrowl-img {
  display: inline-block;
  vertical-align: middle;
  width: 45px;
}

.igrowl-icon {
  margin: 0 5px;
}

.igrowl-icon + .igrowl-text {
  width: calc(100% - 55px);
}

.igrowl-img {
  margin-right: 15px;
}

.igrowl-img img {
  display: block;
  max-width: 100%;
  height: auto;
}

.igrowl-img + .igrowl-text {
  width: calc(100% - 60px);
}

.igrowl-text {
  display: inline-block;
  vertical-align: middle;
}

.igrowl-title {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;
}

.igrowl-title + .igrowl-message {
  margin-top: 2px;
}

.igrowl-message {
  display: block;
  font-size: 14px;
  line-height: 1.5;
}

.igrowl-message a, .igrowl-title a {
  font-size: 14px;
  color: inherit;
  font-weight: inherit;
  border-bottom: 1px solid;
}

.igrowl-message a:hover, .igrowl-title a:hover {
  opacity: 0.7;
}

.igrowl-dismiss {
  position: absolute;
  font-size: 14px;
  padding: 4px;
  top: 0;
  right: 0;
  color: rgba(0, 0, 0, 0.5);
  background: none;
  transition: color 0.3s ease;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.igrowl-dismiss:before {
  font-family: 'uncodeicon';
  font-weight: normal;
  content: "\f00d";
}



.igrowl-dismiss:hover {
  color: rgba(0, 0, 0, 0.6);
}

/* iGrowl type styling - basic + saturated
----------------------------------------------- */
.igrowl-info {
  background: #b4e4ff;
  border-color: #5C9CCF;
}

.igrowl-info .igrowl-message, .igrowl-info .igrowl-title {
  color: #1E3E4C;
}

.igrowl-info .igrowl-icon {
  color: #275467;
}

.igrowl-error {
  background: #FFA1A1;
  border-color: #F58585;
}

.igrowl-error .igrowl-message, .igrowl-error .igrowl-title {
  color: #712A2A;
}

.igrowl-error .igrowl-icon {
  color: #743838;
}

.igrowl-success {
  background: #ADDA6E;
  border-color: #7EB137;
}

.igrowl-success .igrowl-message, .igrowl-success .igrowl-title {
  color: #2B4711;
}

.igrowl-success .igrowl-icon {
  color: #254911;
}

.igrowl-notice {
  background: #FFE35A;
  border-color: #D3B93D;
}

.igrowl-notice .igrowl-message, .igrowl-notice .igrowl-title {
  color: #535123;
}

.igrowl-notice .igrowl-icon {
  color: #635F00;
}

.igrowl-simple {
  background: white;
  border-color: #969696;
}

.igrowl-simple .igrowl-message, .igrowl-simple .igrowl-title, .igrowl-simple .igrowl-icon {
  color: #333;
}

.igrowl-info-sat {
  background: #66d1ff;
  border-color: #2D9BE6;
}

.igrowl-info-sat .igrowl-message, .igrowl-info-sat .igrowl-title, .igrowl-info-sat .igrowl-icon {
  color: #1e3e4c;
}

.igrowl-error-sat {
  background: #FF5959;
  border-color: #B30000;
}

.igrowl-error-sat .igrowl-message, .igrowl-error-sat .igrowl-title, .igrowl-error-sat .igrowl-icon {
  color: white;
}

.igrowl-error-sat .igrowl-dismiss {
  color: rgba(255, 255, 255, 0.9);
}

.igrowl-success-sat {
  background: #98D52D;
  border-color: #53AD00;
}

.igrowl-success-sat .igrowl-message, .igrowl-success-sat .igrowl-title {
  color: #3A570F;
}

.igrowl-success-sat .igrowl-icon {
  color: #37660C;
}

.igrowl-notice-sat {
  background: #FFD600;
  border-color: #B1A30A;
}

.igrowl-notice-sat .igrowl-message, .igrowl-notice-sat .igrowl-title {
  color: #55550A;
}

.igrowl-notice-sat .igrowl-icon {
  color: #575701;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}
