@font-face {
  font-family: 'Hind';
  font-weight: 300;
  font-style: normal;
  src: url('./Hind-300/Hind-300.eot');
  src: url('./Hind-300/Hind-300.eot?#iefix') format('embedded-opentype'),
       local('Hind Light'),
       local('Hind-300'),
       url('./Hind-300/Hind-300.woff2') format('woff2'),
       url('./Hind-300/Hind-300.woff') format('woff'),
       url('./Hind-300/Hind-300.ttf') format('truetype'),
       url('./Hind-300/Hind-300.svg#Hind') format('svg');
}

@font-face {
  font-family: 'Hind';
  font-weight: 400;
  font-style: normal;
  src: url('./Hind-regular/Hind-regular.eot');
  src: url('./Hind-regular/Hind-regular.eot?#iefix') format('embedded-opentype'),
       local('Hind'),
       local('Hind-regular'),
       url('./Hind-regular/Hind-regular.woff2') format('woff2'),
       url('./Hind-regular/Hind-regular.woff') format('woff'),
       url('./Hind-regular/Hind-regular.ttf') format('truetype'),
       url('./Hind-regular/Hind-regular.svg#Hind') format('svg');
}

@font-face {
  font-family: 'Hind';
  font-weight: 500;
  font-style: normal;
  src: url('./Hind-500/Hind-500.eot');
  src: url('./Hind-500/Hind-500.eot?#iefix') format('embedded-opentype'),
       local('Hind Medium'),
       local('Hind-500'),
       url('./Hind-500/Hind-500.woff2') format('woff2'),
       url('./Hind-500/Hind-500.woff') format('woff'),
       url('./Hind-500/Hind-500.ttf') format('truetype'),
       url('./Hind-500/Hind-500.svg#Hind') format('svg');
}

@font-face {
  font-family: 'Hind';
  font-weight: 600;
  font-style: normal;
  src: url('./Hind-600/Hind-600.eot');
  src: url('./Hind-600/Hind-600.eot?#iefix') format('embedded-opentype'),
       local('Hind SemiBold'),
       local('Hind-600'),
       url('./Hind-600/Hind-600.woff2') format('woff2'),
       url('./Hind-600/Hind-600.woff') format('woff'),
       url('./Hind-600/Hind-600.ttf') format('truetype'),
       url('./Hind-600/Hind-600.svg#Hind') format('svg');
}

@font-face {
  font-family: 'Hind';
  font-weight: 700;
  font-style: normal;
  src: url('./Hind-700/Hind-700.eot');
  src: url('./Hind-700/Hind-700.eot?#iefix') format('embedded-opentype'),
       local('Hind Bold'),
       local('Hind-700'),
       url('./Hind-700/Hind-700.woff2') format('woff2'),
       url('./Hind-700/Hind-700.woff') format('woff'),
       url('./Hind-700/Hind-700.ttf') format('truetype'),
       url('./Hind-700/Hind-700.svg#Hind') format('svg');
}

